body {
  background-color: grey;
  margin: 0;
  padding: 0;
}
#top_menu {
  background-color: green;
  width: 85%;
  height: 10vh;
  display: block;
  float: right;
}

#top_menu a {
  float: right;
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top_menu a:hover {
  background-color: rgba(4, 186, 192, 0.1);
}

#left_menu {
  background-color: aqua;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30vh;
}

#left_menu a {
  float: center;
  display: block;
  text-decoration: none;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  width: 100%;
  border: 1px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#welcome_message {
  text-align: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
  float: right;
  width: 85%;
  height: 100hv;
}
.content_main_control_panel {
  float: right;
  width: 85%;
  height: 100hv;
  display: flex;
}
.column {
  flex-grow: 1;
}

#water_sensor {
}
#rain_sensor {
}
#rain_gaugae {
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
