<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zresetuj hasło</title>
    {% load static %}
  </head>
  <body>
    <div id="haslo-napis">Zresetuj hasło do konta</div>
    <div id="password-panel">
      <form method="POST">
        {% csrf_token %} 
        <br>
        {{ form }}
         <br>
        <button type="submit">Zresetuj hasło</button>
        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
    {% endfor %}
  </ul>
{% endif %}
      </form>
       <a href="/control_panel" class="btn btn-danger">Wróc do panelu</a>
     
  </body>
</html>
